
.mbutton
{   

	width:85%;
	transition:all 1s;
}
.mbutton:hover
{

}
a:hover {cursor: url(slanted.cur), progress !important;}
html
{
		  cursor: url(slanted.cur), progress !important;
}
div:hover
{
 cursor: url(slanted.cur), progress !important;

}
 
/*replace the content value with the
corresponding value from the list below*/

html, body, .perspective {
	width: 100%;
	height: 100%;
	min-height: 303px;
	  overflow: -moz-scrollbars-none;
	  -ms-overflow-style: none;

}

body{
	background:white;
}

::-webkit-scrollbar { 
    display: none; 
}
.perspective {
	background: rgba(0,0,0,0);
	position: relative;
}

.container {
	overflow:hidden;
	min-height: 100%;
	position: relative;
	outline: 1px solid rgba(0,0,0,0);
	z-index: 10;
	-webkit-transform: translateZ(0) translateX(0) rotateY(0deg); /* reset transforms (Chrome bug) */
	transform: translateZ(0) translateX(0) rotateY(0deg);
}

.container::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0px;
	opacity: 0;
	background: rgba(0,0,0,0);
	/* the transition delay of the height needs to be synced with the container transition time */
	-webkit-transition: opacity 0.4s, height 0s 0.4s;
	transition: opacity 0.4s, height 0s 0.4s;
}

.wrapper {
	position: relative;
}

.component {
	margin: 0 auto;
	width: 60%;
	text-align: justify;
	font-size: 1.5em;
}

/* Modal view */
.perspective.modalview {
	position: fixed;
	-webkit-perspective: 1500px;
	perspective: 1500px;
}

.modalview .container {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	cursor: pointer;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.modalview .wrapper {
	-webkit-transform: translateZ(-1px); /* solves a rendering bug in Chrome on Windows */
}

.animate .container::after {
	opacity: 1;
	height: 101%;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

/* Outer Nav */
.outer-nav {
	position: absolute;
	height: auto;
	font-size: 2em;
}

.outer-nav.vertical {
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.outer-nav.horizontal {
	left: 50%;
	width: 75%;
	max-width: 1000px;
	text-align: center;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.outer-nav.left {
	left: 25%;
}

.outer-nav.right {
	right: 25%;
}

.outer-nav.top {
	top: 25%;
}

.outer-nav.bottom {
	bottom: 25%;
}

.outer-nav a {
	display: inline-block;
	white-space: nowrap;
	font-weight: 300;
	margin: 0 0 30px 0;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}



.outer-nav.vertical a {
	display: block;
}
.outer-nav.horizontal a{
/*-webkit-filter: brightness(1) sepia(1);
-webkit-filter: brightness(1) grayscale(1);
-webkit-filter: brightness(1) invert(1);
-webkit-filter: brightness(1) blur(3px);
*/
/*-ms-filter: brightness(1) grayscale(1);
-o-filter: brightness(1) grayscale(1);
-moz-filter: brightness(1) grayscale(1);
-webkit-filter: brightness(1) grayscale(1);
filter: brightness(1) grayscale(1);
*/
-ms-filter: brightness(1) sepia(1);
-o-filter: brightness(1) sepia(1);
-moz-filter: sepia(1);
-webkit-filter: brightness(1) sepia(1);
filter: brightness(1) sepia(1);

/*	-ms-filter: brightness(1) grayscale(1);
	-o-filter: brightness(1) grayscale(1);
	-moz-filter: brightness(1) grayscale(1);
	-webkit-filter: brightness(1) grayscale(1);
	filter: brightness(1) grayscale(1);
*/	transition:all 0.3s;
} 
.outer-nav.horizontal a:hover {
/*-webkit-filter: brightness(1.3) sepia(0);
-webkit-filter: brightness(1.3) grayscale(0);
-webkit-filter: brightness(1.3) invert(0);
-webkit-filter: brightness(1.3) blur(0px);
*/
/*-ms-filter: brightness(1.3) grayscale(0);
-o-filter: brightness(1.3) grayscale(0);
-moz-filter: brightness(1.3) grayscale(0);
-webkit-filter: brightness(1.3) grayscale(0);
filter: brightness(1.3) grayscale(0);
*/
-ms-filter: brightness(1.3) sepia(0);
-o-filter: brightness(1.3) sepia(0);
-moz-filter: brightness(1.3) sepia(0);
-webkit-filter: brightness(1.3) sepia(0);
filter: brightness(1.3) sepia(0);

/*-ms-filter: brightness(1.3) grayscale(0);
-o-filter: brightness(1.3) grayscale(0);
-moz-filter: brightness(1.3) grayscale(0);
-webkit-filter: brightness(1.3) grayscale(0);
filter: brightness(1.3) grayscale(0);
*/transition:all 0.5s;
}
.outer-nav a:nth-child(even){position:relative;top:3.5em;}
.outer-nav a
{margin-left:-1.5em;
margin-right:-1.5em;}
.outer-nav a::before {
	display: inline-block;
	line-height: 1;
	margin-right: 10px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

/* Individual Effects */

/* Effect Lay Down */
.effect-laydown {
	background: rgba(0,0,0,0);
}

.effect-laydown .container {
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transform-origin: 50% 150%;
	transform-origin: 50% 150%;
}

.effect-laydown.animate .container {
	-webkit-transform: translateZ(-1500px) rotateX(80deg);
	transform: translateZ(-1500px) rotateX(80deg);
}

.no-csstransforms3d .effect-laydown.animate .container {
	top: 75%;
}

.effect-laydown .outer-nav a {
	opacity: 0;
	-webkit-transform: translateY(-200px) translateZ(-1000px);
	transform: translateY(-200px) translateZ(-1000px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
}

.effect-laydown.animate .outer-nav a {
	opacity: 1;
	-webkit-transform: translateY(0) translateZ(0);
	transform: translateY(0) translateZ(0);
}

.effect-laydown.animate .outer-nav a:nth-child(7){
	-webkit-transition-delay: 0.0s;
	transition-delay: 0.0s;
}

.effect-laydown.animate .outer-nav a:nth-child(6) {
	-webkit-transition-delay: 0.04s;
	transition-delay: 0.04s;
}

.effect-laydown.animate .outer-nav a:nth-child(5) {
	-webkit-transition-delay: 0.08s;
	transition-delay: 0.08s;
}

.effect-laydown.animate .outer-nav a:nth-child(4) {
	-webkit-transition-delay: 0.12s;
	transition-delay: 0.12s;
}

.effect-laydown.animate .outer-nav a:nth-child(3) {
	-webkit-transition-delay: 0.16s;
	transition-delay: 0.16s;
}

.effect-laydown.animate .outer-nav a:nth-child(2) {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.effect-laydown.animate .outer-nav a:first-child {
	-webkit-transition-delay: 0.24s;
	transition-delay: 0.24s;
}

/* Media Queries */
@media screen and (max-width: 77em) {
	
	.outer-nav.top {
		top: 15%;
	}

	.outer-nav.bottom {
		bottom: 15%;
	}
	
}

@media screen and (max-width: 36.625em), screen and (max-height: 41.75em) {

	.outer-nav.top {
		top: 5%;
	}

	.outer-nav.bottom {
		bottom: 5%;
	}
	
	.outer-nav.horizontal {
		font-size: 1.7em;
		width: 6.2em;
	}

	.outer-nav.horizontal a {
		display: block;
		text-align: left;
	}

	/* Special Case */
	.effect-rotatetop .outer-nav.horizontal {
		width: 95%;
		bottom: auto;
		top: 50%;
	}

	.effect-rotatetop .outer-nav.horizontal a {
		display: inline-block;
	}

	.outer-nav a:nth-child(even){position:relative;left:0.75em; top:0em;}
	.outer-nav a:nth-child(odd){position:relative;right:0.75em; top:0em;}
	.outer-nav a
	{margin-left:1.5em;
		margin-bottom:-0.6em;
		width:70%;}

.mbutton
{	width:55%;
	height:12.1%;

}
}

@media screen and (max-width: 31em), screen and (max-height: 36.2em) {
	.outer-nav.horizontal,
	.outer-nav.vertical {
		font-size: 1.2em;
		width: 6.8em;
	}

	.outer-nav.right {
		right: auto;
		left: 50%;
	}
	.outer-nav a:nth-child(even){position:relative;left:1.5em;top:0em;}
	.outer-nav a:nth-child(odd){position:relative;right:1.5em;top:0em;}
	.outer-nav a
	{margin-left:1em;
	margin-bottom:-0.9em;
	width:90%;}

}

@media screen and (max-height: 31.6em) {
	.outer-nav a {
		margin-bottom: 20px;
	}
	.outer-nav a:nth-child(even){position:relative;left:0.75em;right:-0.75em; top:0em;}
	.outer-nav a
	{margin-bottom:-0.6em;
	width:50%;}
.mbutton
{
	height:14%;
	width:85%;
}
}


@media screen and (max-height: 29.6em) {
.mbutton
{
	height:14%;
	width:75%;
}
}

@media screen and (max-height: 27.6em) {
.mbutton
{
	height:14%;
	width:75%;
}
}
@media screen and (max-height: 25.6em) {
.mbutton
{
	height:14%;
	width:70%;
}
}

@media screen and (max-height: 23.6em) {
.mbutton
{
	height:14%;
	width:65%;
}
}

@media screen and (max-height: 21.6em) {
.mbutton
{
	height:14%;
	width:57%;
}
}
@-moz-document url-prefix() {

	.mbutton
{	width:85%;
	height:12.1%;
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); 

}
.mbutton:hover
{
filter:none;
}
@media screen and (max-width: 77em) {
	.mbutton
{	
	height:12.1%;
	width:65%;

}
	.outer-nav.top {
		top: 15%;
	}

	.outer-nav.bottom {
		bottom: 15%;
	}
		.outer-nav.top {
		top: 5%;
	}

	.outer-nav.bottom {
		bottom: 5%;
	}
	
	.outer-nav.horizontal {
		font-size: 1.7em;
		width: 6.2em;
	}

	.outer-nav.horizontal a {
		display: block;
		text-align: left;
	}

	/* Special Case */
	.effect-rotatetop .outer-nav.horizontal {
		width: 95%;
		bottom: auto;
		top: 50%;
	}

	.effect-rotatetop .outer-nav.horizontal a {
		display: inline-block;
	}

	.outer-nav a:nth-child(even){position:relative;left:0.75em; top:0em;}
	.outer-nav a:nth-child(odd){position:relative;right:0.75em; top:0em;}
	.outer-nav a
	{margin-left:1.5em;
		margin-bottom:-0.6em;
		width:70%;}

.mbutton
{	width:65%;
	height:12.1%;

}
}


@media screen and (max-width: 36.625em), screen and (max-height: 41.75em) {

	.outer-nav.top {
		top: 5%;
	}

	.outer-nav.bottom {
		bottom: 5%;
	}
	
	.outer-nav.horizontal {
		font-size: 1.7em;
		width: 6.2em;
	}

	.outer-nav.horizontal a {
		display: block;
		text-align: left;
	}

	/* Special Case */
	.effect-rotatetop .outer-nav.horizontal {
		width: 95%;
		bottom: auto;
		top: 50%;
	}

	.effect-rotatetop .outer-nav.horizontal a {
		display: inline-block;
	}

	.outer-nav a:nth-child(even){position:relative;left:0.75em; top:0em;}
	.outer-nav a:nth-child(odd){position:relative;right:0.75em; top:0em;}
	.outer-nav a
	{margin-left:1.5em;
		margin-bottom:-0.6em;
		width:70%;}

.mbutton
{	width:65%;
	height:12.1%;

}
}
@media screen and (max-height: 40.75em) {
	.mbutton
	{	
		width:60%;
	height:12.1%;
	}
	}
	@media screen and (max-height: 38.75em) {
	.mbutton
	{	
		width:55%;
	height:12.1%;
	}
	}
@media screen and (max-width: 31em), screen and (max-height: 36.2em) {
	.outer-nav a {
	margin: 0 0 0px 0;
	margin-left: 0em;
	margin-right:0em;
}

	.outer-nav.horizontal,
	.outer-nav.vertical {
		font-size: 1.2em;
		width: 6.8em;
	}

	.outer-nav.right {
		right: auto;
		left: 50%;
	}
	.outer-nav a:nth-child(even){position:relative;left:1.5em;top:0em;}
	.outer-nav a:nth-child(odd){position:relative;right:1.5em;top:0em;}
	.outer-nav a
	{margin-left:1em;
	margin-bottom:-0.9em;
	width:90%;}

}

@media screen and (max-height: 31.6em) {
	.outer-nav a {
		margin-bottom: 20px;
	}
	.outer-nav a:nth-child(even){position:relative;left:0.75em;right:-0.75em; top:0em;}
	.outer-nav a
	{margin-bottom:-0.6em;
	width:50%;}
.mbutton
{
	height:14%;
	width:85%;
}
}

@media screen and (max-height: 29.6em) {
.mbutton
{
	height:14%;
	width:75%;
}
}

@media screen and (max-height: 27.6em) {
.mbutton
{
	height:14%;
	width:75%;
}
}
@media screen and (max-height: 25.6em) {
.mbutton
{
	height:14%;
	width:70%;
}
}

@media screen and (max-height: 23.6em) {
.mbutton
{
	height:14%;
	width:65%;
}
}

@media screen and (max-height: 21.6em) {
.mbutton
{
	height:14%;
	width:57%;
}
}

}
/*735 600 36.7 29.8*/